<li id="<%= dom_id category %>" class="font-semibold md:text-lg flex justify-between lg:justify-envely  lg:items-center gap-4 w-full">
    <span>
        <%= category.name %> 
    </span>
    <span class="font-light hidden lg:block text-start">
    <%= category.description %>
    </span>
    <%= link_to category, data: { turbo_method: :delete } do %> 
        <button class="btn btn-ghost btn-xs">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" class="text-red-500 text-end">
            <path fill="currentColor" d="M6 19a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V7H6zM8 9h8v10H8zm7.5-5l-1-1h-5l-1 1H5v2h14V4z" />
            </svg>
        </button>
    <% end %>
</li>