<div>
    <h1>Configurações</h1>
</div>

<div>
    <h2>Escolher tema</h2>
    <div data-action="change->theme-switcher#switch">
        <label for="theme">Tema</label>
        <select name="theme" id="theme" data-theme-switcher-target="theme">
            <% ConfigurationsHelper::THEMES.each do |theme|%>
                <option value="<%= theme %>" <%= 'selected' if current_user.theme == theme %>><%= theme.capitalize %></option>
            <% end %>
        </select>
    </div>
</div>