<div>
    <h1>Configurações</h1>
</div>

<div>
    <h2>Escolher tema</h2>
    <div data-action="change->theme-switcher#switch">
        <label for="theme">Tema</label>
        <select name="theme" id="theme" data-theme-switcher-target="theme">
            <option value="light" <%= 'selected' if current_user.theme == 'light' %>>Claro</option>
            <option value="dark" <%= 'selected' if current_user.theme == 'dark' %>>Escuro</option>
            <option value="cupcake" <%= 'selected' if current_user.theme == 'cupcake' %>>Bolo</option>
        </select>
    </div>
</div>