<footer class="w-full h-full border-t-2 border-t-gray-400 border-opacity-10">
  <div class="container mx-auto flex items-center justify-center">
    <div class="grid gap-2 my-6">
      <a href="https://starksoftware.tech" class="hover:text-secondary" target="_blank">
        <p class="text-xl">© 2024 Stark Software, Inc.</p>
      </a>
      <small>Desenvolvido com 💙 por
        <a href="https://www.linkedin.com/in/roliveira94/" class="text-semibold link hover:text-secondary" target="_blank">Rômulo Oliveira</a>
      </small>
    </div>
  </div>
</footer>