<dialog id="<%= modal_id %>" class="modal">
  <div class="modal-box">
    <%= yield %>
    <button type="button" class="btn btn-sm w-full mt-2" onclick="<%= modal_id %>.close()">Fechar</button>
  </div>
</dialog>
