<div id="<%= dom_id income %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Value:</strong>
    <%= income.value %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= income.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Fixed:</strong>
    <%= income.fixed %>
  </p>

</div>
