<div class="card bg-base-100 md:w-1/2 p-6 shadow-lg mx-auto relative">
  <div class="flex w-full justify-end absolute left-0 -right-3 top-0 p-3">
    <%= button_to @income, method: :delete, class: "btn btn-sm md:btn-md btn-error" do %>
      <i class="fa fa-trash"></i>
      <span class="hidden md:block">Deletar</span>
    <% end %>
  </div>
  <div class="card-body md:items-center md:text-center">
    <h2 class="card-title">Detalhes da receita:</h2>
    <%= render @income %>
  </div>
  <div class="card-actions items-center justify-between">
    <%= link_to incomes_path, class: "btn btn-secondary" do %>
      <i class="fa fa-arrow-left"></i>
      <span>Voltar</span>
    <% end %>
    <%= link_to edit_income_path(@income), class: "btn btn-primary" do %>
      <i class="fa fa-pencil"></i>
      <span>Editar</span>
    <% end %>
  </div>
</div>
