<h1>NoBalance#no_balance_mail</h1>

<p>
  <%= @greeting %>, você nao teve movimentações no mês de <%= @month %>, fique a vontade para acessar no site e controlar sua vida financeira novamente. Obrigado.
</p>