<% if controller_name == "sessions" %>
  <div>
    <%= link_to t(".Resetar Senha"), new_password_reset_path, class: "btn btn-link" %>
  </div>
<% else %>
  <div>
    <%= link_to t(".Entrar"), login_path, class: "btn btn-link" %>
  </div>
<% end %>

<% if controller_name != "registrations" %>
  <div>
    <%= link_to t(".Registrar"), sign_up_path, class: "btn btn-link" %>
  </div>
<% end %>
