<div class="mx-auto md:w-2/3 w-full">
  <div class="flex items-center justify-between">
    <h1 class="font-bold text-4xl">Editar Despesa</h1>
    <%= link_to expenses_path, class: "btn btn-info flex" do %>
      <i class="fa fa-list mb-1" aria-hidden="true"></i>
      Listar Despesas
    <% end %>
  </div>
  <%= render "form", expense: @expense %>
</div>
